<app-nav></app-nav>
<p *ngIf="!userLoginOn">Usuario No autentificado</p>
<p *ngIf="userLoginOn">Usuario Autentificado</p>

    <table class="blog-table">
        <tr>
            <td class="blog-entry">
                <h2 class="blog-title">Título de la Entrada 1</h2>
                <img class="blog-image" src="https://via.placeholder.com/400x300" alt="Imagen de la Entrada 1">
                <p class="blog-content">Este es un pequeño bloque de texto que describe el contenido de la entrada 1.</p>
            </td>
            <td class="blog-entry">
                <h2 class="blog-title">Título de la Entrada 2</h2>
                <img class="blog-image" src="https://via.placeholder.com/400x300" alt="Imagen de la Entrada 2">
                <p class="blog-content">Este es un pequeño bloque de texto que describe el contenido de la entrada 2.</p>
            </td>
            <td class="blog-entry">
                <h2 class="blog-title">Título de la Entrada 3</h2>
                <img class="blog-image" src="https://via.placeholder.com/400x300" alt="Imagen de la Entrada 3">
                <p class="blog-content">Este es un pequeño bloque de texto que describe el contenido de la entrada 3.</p>
            </td>
        </tr>
        <tr>
            <td class="blog-entry">
                <h2 class="blog-title">Título de la Entrada 4</h2>
                <img class="blog-image" src="https://via.placeholder.com/400x300" alt="Imagen de la Entrada 4">
                <p class="blog-content">Este es un pequeño bloque de texto que describe el contenido de la entrada 4.</p>
            </td>
            <td class="blog-entry">
                <h2 class="blog-title">Título de la Entrada 5</h2>
                <img class="blog-image" src="https://via.placeholder.com/400x300" alt="Imagen de la Entrada 5">
                <p class="blog-content">Este es un pequeño bloque de texto que describe el contenido de la entrada 5.</p>
            </td>
            <td class="blog-entry">
                <h2 class="blog-title">Título de la Entrada 6</h2>
                <img class="blog-image" src="https://via.placeholder.com/400x300" alt="Imagen de la Entrada 6">
                <p class="blog-content">Este es un pequeño bloque de texto que describe el contenido de la entrada 6.</p>
            </td>
        </tr>
    </table>

