<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Ejemplo de Login</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" routerLink="/inicio">Portafolio</a>
          <a *ngIf="!userLoginOn" class="nav-link" routerLink="/iniciar-sesion">Iniciar Sesión</a>
          <a *ngIf="userLoginOn" class="nav-link" routerLink="/inicio">Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </nav>